{% extends "base.html" %}

{% load wagtailcore_tags wagtailimages_tags %}

{% block body_class %}template-locationsindexpage{% endblock %}

{% block content %}



    <div class="placeholder-div mt-4"></div>
    <div class="content-title-holder">
       <h2 class="ml-4">Promotions</h2>
	<!-- replace w/ static file later -->
       <img class="svg-special-label mr-4 mb-2" src="https://svgshare.com/i/TJu.svg"/>
    </div>
    {% if page.promoted_pages.count %}
    <div class="swiper-promotions-container mt-4 anm fdu">

        <div class="swiper-wrapper"> 
            {% for i,p in indexed_promoted_pages %}
                {% with p.promoted_page.specific as promoted_page %}	
		    {% include "promotions-carousel.html" with page=promoted_page %}
                {% endwith %}
            {% endfor %}
            
        </div>
    </div>


    <div class="placeholder-div mt-4"></div>
    {% endif %}

    {% for tag, pages in locationpagetags.items %}
        {% if pages.count %}
        <div class="content-title-holder anm fdu">

            <h2 class="ml-4">{{ tag | title }}</h2>
            <a class="a-color" href="{% slugurl 'tags' %}?tag={{ tag }}"><p class="mr-3  mt-3">See all</p></a>
        </div>
	<div class="swiper-container">
		<div class="swiper-wrapper">
			{% for child in pages %}
				{% include "location_preview.html" with page=child.specific %}
			{% endfor %}
                </div>
        </div>

         <div class="placeholder-div mt-4"></div>
        {% endif %}
    {% endfor %}
    {% if locationsnearme %}
    <div class="content-title-holder">
        <h2 class="ml-4">Near Me</h2>
	<!-- replace w/ static file later -->
        <img class="svg-special-label mr-4 mb-2" src="https://svgshare.com/i/TL9.svg"/>
    </div>
    <div class="swiper-container">
        <div class="swiper-wrapper">

            {% for page in locationsnearme %}
                {% include "location_preview.html" with page=page.specific %}
            {% endfor %}
        </div>
    </div>

    {% endif %}
    
    <script>

    var generalSwiper = new Swiper('.swiper-container', {
        slidesPerView: 2,
        spaceBetween: 2,
	centerInsufficientSlides: true,
	loop: true,
	effect: 'coverflow',
	coverflowEffect: {
        rotate: 50,
        stretch: 0,
        depth: 100,
        modifier: 1,
        slideShadows: false,
      },
        pagination: {
        
            el: '.swiper-pagination',
            clickable: true,
        }
    });

    var promotionsSwiper = new Swiper('.swiper-promotions-container', {
        slidesPerView: 1,
        spaceBetween: 2,
	effect: 'coverflow',
	coverflowEffect: {
        rotate: 50,
        stretch: 0,
        depth: 100,
        modifier: 1,
	autoplay: {delay: 2},
        slideShadows: false,
      },
        pagination: {
        
            el: '.swiper-pagination',
            clickable: true,
        }



    });
        
        function setCookie(name, value, seconds) {
            var expires = "";
            if (seconds) {
                var date = new Date();
                date.setTime(date.getTime() + (seconds * 1000));
                expires = "; expires=" + date.toUTCString();
            }
            document.cookie = name + "=" + (value || "")  + expires + "; path=/";
            console.log('setCookie: ' + name + '=' + value);
        }

        function getCookie(name) {
            var nameEQ = name + "=";
            var ca = document.cookie.split(';');
            for(var i=0; i < ca.length; i++) {
                var c = ca[i];
                while (c.charAt(0) == ' ') c = c.substring(1, c.length);
                if (c.indexOf(nameEQ) == 0) {
                    var value = c.substring(nameEQ.length, c.length);
                    console.log('getCookie: ' + name + '=' + value);
                    return value;
                }
            }
            return null;
        }

        function geoLocation(position) {
            console.log('geolocation:' + position);
            setCookie('geo', position.coords.latitude + ',' + position.coords.longitude, 300);
            location.reload();
        }

        function geoError(error){
            console.log("error " + error.code);
        }
    
        if (getCookie('geo') == null) {
            console.log('requesting geolocation..');
            if (navigator.geolocation) {
                navigator.geolocation.getCurrentPosition(geoLocation, geoError);
            }
            else {
                console.error('geolocation not supported');
            }
        }
    </script>

{% endblock %}
