{% extends "base.html" %}
{% load wagtailcore_tags %}

{% block content %}

    {% if request.GET.tag|length %}
        <h4 class="mt-5 text-center">Showing pages tagged "{{ request.GET.tag }}"</h4>
    {% endif %}

    {% for locationpage in locationpages %}
	 <ul class="list-group px-4 mt-5">
	     {% if locationpage == locationpages.0 %}
	        <a href="{% pageurl locationpage %}"><li class="list-group-item active text-center">{{ locationpage.title }}</li></a> 
             {% else %}

	        <a href="{% pageurl locationpage %}"><li class="list-group-item text-center">{{ locationpage.title }}</li></a> 
             {% endif %}
        </ul>

    {% empty %}
        No pages found with that tag.
    {% endfor %}

   <p class="mt-5 text-center"><a href="{{ page.get_parent.url }}">Return to {{page.get_parent.title}}</a></p>
   
{% endblock %}
