{% extends "base.html" %}

{% load wagtailcore_tags wagtailimages_tags %}

{% block body_class %}template-locationsindexpage{% endblock %}

{% block content %}
<div class="page-content-shown">
<!-- one of the templates will get rendered here depending on what the client device is -->

</div>
<template id='mobile-content'>




    <div class="placeholder-div mt-4"></div>
    <div class="content-title-holder">
       <h2 class="ml-4">Promotions</h2>
	<!-- replace w/ static file later -->
    </div>
    {% if page.promoted_pages.count %}
    <div class="swiper-promotions-container mt-4 anm fdu">

        <div class="swiper-wrapper"> 
            {% for i,p in indexed_promoted_pages %}
                {% with p.promoted_page.specific as promoted_page %}	
		    {% include "promotions-carousel.html" with page=promoted_page %}
                {% endwith %}
            {% endfor %}
            
        </div>
    </div>


    <div class="placeholder-div mt-4"></div>
    {% endif %}

    {% for tag, pages in locationpagetags.items %}
        {% if pages.count %}
        <div class="content-title-holder anm fdu">

            <h2 class="ml-4">{{ tag | title }}</h2>
            <a class="a-color" href="{% slugurl 'tags' %}?tag={{ tag }}"><p class="mr-3  mt-3">See all</p></a>
        </div>
	<div class="swiper-container">
		<div class="swiper-wrapper">
			{% for child in pages %}
				{% include "location_preview.html" with page=child.specific %}
			{% endfor %}
                </div>
        </div>

         <div class="placeholder-div mt-4"></div>
        {% endif %}
    {% endfor %}
    {% if locationsnearme %}
    <div class="content-title-holder">
        <h2 class="ml-4">Near Me</h2>
	<!-- replace w/ static file later -->
    </div>
    <div class="swiper-container">
        <div class="swiper-wrapper">

            {% for page in locationsnearme %}
                {% include "location_preview.html" with page=page.specific %}
            {% endfor %}
        </div>
    </div>

    {% endif %}



</template>

<template id='desktop-content'>

    
    <div class="content-title-holder">
       <h2 class="ml-4 mt-4">Promotions</h2>
	<!-- replace w/ static file later -->
    </div>
    {% if page.promoted_pages.count %}
    <div class="swiper-promotions-desktop mt-5">

        <div class="swiper-wrapper"> 
            {% for i,p in indexed_promoted_pages %}
                {% with p.promoted_page.specific as promoted_page %}	
		    {% include "location_card_desktop.html" with page=promoted_page %}
                {% endwith %}
            {% endfor %}
            
        </div>
        <div class="swiper-pagination"></div>
    </div>

   {% endif %}
</template>

    
    <script>

    var pageContentShown = document.querySelector(".page-content-shown");
    
    const isMobile = matchMedia('(max-device-width: 844px)').matches;
    if(isMobile === true) {
        var mobileTemplate = document.querySelector("#mobile-content");
        var clone = mobileTemplate.content.cloneNode(true);
        pageContentShown.appendChild(clone);
        
        var generalSwiper = new Swiper('.swiper-container', {
            slidesPerView: 2,
            spaceBetween: 2,
            centerInsufficientSlides: true,
            loop: true,
            effect: 'coverflow',
            coverflowEffect: {
            rotate: 50,
            stretch: 0,
            depth: 100,
            modifier: 1,
            slideShadows: false,
          },
            pagination: {
            
                el: '.swiper-pagination',
                clickable: true,
            }
        });
        
        var promotionsSwiper = new Swiper('.swiper-promotions-container', {
            slidesPerView: 1,
            spaceBetween: 2,
            effect: 'coverflow',
            coverflowEffect: {
            rotate: 50,
            stretch: 0,
            depth: 100,
            modifier: 1,
            autoplay: {delay: 2},
            slideShadows: false,
          },
            pagination: {
            
                el: '.swiper-pagination',
                clickable: true,
            }
        
        
        
        });
    } else {
            
        var desktopTemplate = document.querySelector("#desktop-content");
        var clone = desktopTemplate.content.cloneNode(true);
        pageContentShown.appendChild(clone);
        /*
        var generalSwiper = new Swiper('.swiper-container', {
            slidesPerView: 4,
            spaceBetween: 5,
            centerInsufficientSlides: true,
            pagination: {
            
                el: '.swiper-pagination',
                clickable: true,
            }
        });
        */ 
       var promotionsSwiper = new Swiper('.swiper-promotions-desktop', {
          slidesPerView: 3,
          slidesPerColumn: 1,
          spaceBetween: 15,
          pagination: {
            el: '.swiper-pagination',
            clickable: true,
          },
        }); 

    }
        
        function setCookie(name, value, seconds) {
            var expires = "";
            if (seconds) {
                var date = new Date();
                date.setTime(date.getTime() + (seconds * 1000));
                expires = "; expires=" + date.toUTCString();
            }
            document.cookie = name + "=" + (value || "")  + expires + "; path=/";
            console.log('setCookie: ' + name + '=' + value);
        }

        function getCookie(name) {
            var nameEQ = name + "=";
            var ca = document.cookie.split(';');
            for(var i=0; i < ca.length; i++) {
                var c = ca[i];
                while (c.charAt(0) == ' ') c = c.substring(1, c.length);
                if (c.indexOf(nameEQ) == 0) {
                    var value = c.substring(nameEQ.length, c.length);
                    console.log('getCookie: ' + name + '=' + value);
                    return value;
                }
            }
            return null;
        }

        function geoLocation(position) {
            console.log('geolocation:' + position);
            setCookie('geo', position.coords.latitude + ',' + position.coords.longitude, 300);
            location.reload();
        }

        function geoError(error){
            console.log("error " + error.code);
        }
    
        if (getCookie('geo') == null) {
            console.log('requesting geolocation..');
            if (navigator.geolocation) {
                navigator.geolocation.getCurrentPosition(geoLocation, geoError);
            }
            else {
                console.error('geolocation not supported');
            }
        }
    </script>

{% endblock %}
