{% extends "base.html" %}

{% load wagtailcore_tags wagtailimages_tags %}

{% block extra_css %}

    {% if page.custom_css %}
        <link rel="stylesheet" href="{{ page.custom_css.url }}" media="all"> 
    {% endif %}

{% endblock %}

{% block body_class %}template-locationsindexpage{% endblock %}

{% block content %}

    <div>

        {% if page.promoted_pages.count %}
            <div>
                <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1440 320">
                    <path fill="#0d6efd" fill-opacity="1" d="M0,192L48,197.3C96,203,192,213,288,229.3C384,245,480,267,576,234.7C672,203,768,117,864,74.7C960,32,1056,32,1152,26.7C1248,21,1344,11,1392,5.3L1440,0L1440,0L1392,0C1344,0,1248,0,1152,0C1056,0,960,0,864,0C768,0,672,0,576,0C480,0,384,0,288,0C192,0,96,0,48,0L0,0Z"></path>
                    <path fill="#FFFFFF" fill-opacity="0.1" transform="translate(0 -100)" d="M0,192L48,197.3C96,203,192,213,288,229.3C384,245,480,267,576,234.7C672,203,768,117,864,74.7C960,32,1056,32,1152,26.7C1248,21,1344,11,1392,5.3L1440,0L1440,0L1392,0C1344,0,1248,0,1152,0C1056,0,960,0,864,0C768,0,672,0,576,0C480,0,384,0,288,0C192,0,96,0,48,0L0,0Z"></path>
                </svg> 
            </div>
            <div class="promotions-carousel">
                <div class="content-title-holder mt-2">
                    <h2 class="ml-4">Promotions</h2>
                </div>
                <div class="swiper-promotions-container anm fdu">
                    <div class="swiper-wrapper"> 
                        {% for i,p in indexed_promoted_pages %}
                            {% with p.promoted_page.specific as promoted_page %}
                                {% include "promotions-carousel.html" with p=p %}
                            {% endwith %}
                        {% endfor %}
                    </div>
                </div>
            </div>
        {% endif %}

        {% for tag, pages in locationpagetags.items %}
            {% if pages.count %}
                <div>
                    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1440 320">
                        <path fill="#0d6efd" fill-opacity="1" d="M0,64L48,64C96,64,192,64,288,64C384,64,480,64,576,58.7C672,53,768,43,864,48C960,53,1056,75,1152,96C1248,117,1344,139,1392,149.3L1440,160L1440,0L1392,0C1344,0,1248,0,1152,0C1056,0,960,0,864,0C768,0,672,0,576,0C480,0,384,0,288,0C192,0,96,0,48,0L0,0Z"></path>
                        <path fill="#FFFFFF" fill-opacity="0.1" transform="translate(0 -50)" d="M0,64L48,64C96,64,192,64,288,64C384,64,480,64,576,58.7C672,53,768,43,864,48C960,53,1056,75,1152,96C1248,117,1344,139,1392,149.3L1440,160L1440,0L1392,0C1344,0,1248,0,1152,0C1056,0,960,0,864,0C768,0,672,0,576,0C480,0,384,0,288,0C192,0,96,0,48,0L0,0Z"></path>
                    </svg>
                </div>
                <div class="tag-content mb-4">
                    <div class="content-title-holder anm fdu">
                        <h2 class="ml-4">{{ tag | title }}</h2>
                        {% if tagspage %}
                            <a class="a-color" href="{{ tagspage.get_url }}?tag={{ tag }}"><p class="mr-3  mt-3">See all</p></a>
                        {% endif %}
                    </div>
                    <div class="swiper-container">
                        <div class="swiper-wrapper">
                            {% for child in pages %}
                                {% include "location_preview.html" with page=child.specific %}
                            {% endfor %}
                        </div>
                    </div>
                </div>
            {% endif %}
        {% endfor %}

        {% if locationsnearme %}
            <div>
                <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1440 320">
                    <path fill="#0d6efd" fill-opacity="1" d="M0,64L48,64C96,64,192,64,288,64C384,64,480,64,576,58.7C672,53,768,43,864,48C960,53,1056,75,1152,96C1248,117,1344,139,1392,149.3L1440,160L1440,0L1392,0C1344,0,1248,0,1152,0C1056,0,960,0,864,0C768,0,672,0,576,0C480,0,384,0,288,0C192,0,96,0,48,0L0,0Z"></path>
                    <path fill="#FFFFFF" fill-opacity="0.1" transform="translate(0 -50)" d="M0,64L48,64C96,64,192,64,288,64C384,64,480,64,576,58.7C672,53,768,43,864,48C960,53,1056,75,1152,96C1248,117,1344,139,1392,149.3L1440,160L1440,0L1392,0C1344,0,1248,0,1152,0C1056,0,960,0,864,0C768,0,672,0,576,0C480,0,384,0,288,0C192,0,96,0,48,0L0,0Z"></path>
                </svg>
            </div>
            <div class="tag-content">
                <div class="content-title-holder">
                    <h2 class="ml-4">Near Me</h2>
                </div>
                <div class="swiper-container">
                    <div class="swiper-wrapper">
                        {% for page in locationsnearme %}
                            {% include "location_preview.html" with page=page.specific %}
                        {% endfor %}
                    </div>
                </div>
            </div>
        {% endif %}

    </div>

{% endblock %}

{% block extra_js %}

    <script>
        /* setup swipers and lazy loading images */

        function setupContent() {
            // swipers for tags and near me sections
            var generalSwiper = new Swiper('.swiper-container', {
                slidesPerView: 2,
                spaceBetween: 2,
                centerInsufficientSlides: true,
                loop: true,
                effect: 'coverflow',
                coverflowEffect: {
                    rotate: 50,
                    stretch: 0,
                    depth: 100,
                    modifier: 1,
                    slideShadows: false,
                },
                pagination: {
                    el: '.swiper-pagination',
                    clickable: true,
                }
            });

            // swiper for promotions
            var promotionsSwiper = new Swiper('.swiper-promotions-container', {
                slidesPerView: 1,
                spaceBetween: 2,
                effect: 'coverflow',
                coverflowEffect: {
                    rotate: 50,
                    stretch: 0,
                    depth: 100,
                    modifier: 1,
                    autoplay:  {
                        delay: 1000,
                    },
                    slideShadows: false,
                },
                pagination: {
                    el: '.swiper-pagination',
                    clickable: true,
                }
            });
            promotionsSwiper.autoplay.start();

            // lazy image loader
            const observer = lozad(".lazy");
            observer.observe();
        }

        setupContent(); 

        /* cookie helper functions */

        function setCookie(name, value, seconds) {
            var expires = "";
            if (seconds) {
                var date = new Date();
                date.setTime(date.getTime() + (seconds * 1000));
                expires = "; expires=" + date.toUTCString();
            }
            document.cookie = name + "=" + (value || "")  + expires + "; path=/";
            console.log('setCookie: ' + name + '=' + value);
        }

        function getCookie(name) {
            var nameEQ = name + "=";
            var ca = document.cookie.split(';');
            for(var i=0; i < ca.length; i++) {
                var c = ca[i];
                while (c.charAt(0) == ' ') c = c.substring(1, c.length);
                if (c.indexOf(nameEQ) == 0) {
                    var value = c.substring(nameEQ.length, c.length);
                    console.log('getCookie: ' + name + '=' + value);
                    return value;
                }
            }
            return null;
        }

        /* set geolocation cookie for 'near me' locations */

        if (getCookie('geo') == null) {
            console.log('requesting geolocation..');
            if (navigator.geolocation) {
                navigator.geolocation.getCurrentPosition(success => {
                    console.log('geolocation: ' + success);
                    setCookie('geo', success.coords.latitude + ',' + success.coords.longitude, 300);
                    location.reload();
                }, failure => {
                    console.log('geolocation error: ' + failure.message);
                });
            }
            else {
                console.error('geolocation not supported');
            }
        }
    </script>

{% endblock %}
