{% extends "base.html" %}

{% load wagtailcore_tags wagtailimages_tags %}

{% block body_class %}template-locationpage{% endblock %}

{% block content %}
    <h1 class="text-center text-center mt-4">{{ page.title }}</h1>
    <p class="meta text-center">{{ page.date }}</p>

    <div class="intro text-center">{{ page.intro }}</div>

    {{ page.body|richtext }}

    <div style="display: flex">
    {% for item in page.gallery_images.all %}
        <div style="float: left; margin: 10px">
            {% image item.image fill-320x240 as store_photo%}
            <p>{{ item.caption }}</p>
        </div>
    {% endfor %}
    </div>




    {% if page.tags.all.count %}
    <h3 class="text-center">Tags</h3>
    <div class="tags d-flex flex-row justify-content-around">
        {% for tag in page.tags.all %}
            <a href="{% slugurl 'tags' %}?tag={{ tag }}">
		<button type="button" class="btn btn-primary">
 			 {{ tag }}
		</button>
            </a>



        {% endfor %}
    </div>
    {% endif %}

    {% if page.lat_long %}
    <div class="map">
        
    	<h3 class="text-center">Map</h3>
        <iframe
            width="600" height="450" frameborder="0" style="border:0"
            src="https://www.google.com/maps/embed/v1/view?key=AIzaSyBKC9GWNbQ95x0CH2iQvOkTZdwoP3aEjYM&center={{page.specific.lat_long}}&zoom=18&maptype=satellite" allowfullscreen>
       </iframe>
    </div>
   {% endif %}
	<div class="d-flex flex-row justify-content-center">
	
		<a href="{{ page.get_parent.url }}">
			<button type="button" class="btn btn-outline-primary">Back
			</button>
	
		</a>
	</div>
{% endblock %}
