{% extends "base.html" %}

{% load wagtailcore_tags wagtailimages_tags %}

{% block body_class %}template-locationpage{% endblock %}

{% block content %}

    <div class="row">
        <div class="col">
            <div class="text-center">
                <h1>{{ page.title }}</h1>
                <div class="intro">
                    {{ page.intro }}
                </div>
                <div class="page-body">
                    {{ page.body|richtext }}
                </div>
            </div>
        </div>
    </div>

    <div class="row">
        {% for item in page.gallery_images.all %}
            <div class="card shadow-lg p-3 m-3 rounded">
                {% image item.image fill-320x240 %}
                <div class="card-body">
                    <p>{{ item.caption }}</p>
                </div>
            </div>
        {% endfor %}
    </div>

    {% if page.lat_long %}
        <div class="row">
            <div class="card shadow-lg p-3 mx-auto rounded">
                <iframe
                    class="mx-auto d-block"
                    width="400" height="250" frameborder="0" style="border:0"
                                                             src="https://www.google.com/maps/embed/v1/view?key=AIzaSyBKC9GWNbQ95x0CH2iQvOkTZdwoP3aEjYM&center={{page.specific.lat_long}}&zoom=18" allowfullscreen>
                </iframe>
            </div>
        </div>
   {% endif %}

    {% if page.tags.all.count %}
    <div class="row">
        <div class="col m-3">
            <div class="text-center">
                <h5>Tags</h5>
                {% for tag in page.tags.all %}
                    <a href="{% slugurl 'tags' %}?tag={{ tag }}"><button type="button" class="btn-sm btn-info">{{ tag }}</button></a>
                {% endfor %}
            </div>
        </div>
    </div>
    {% endif %}

    <div class="row">
        <div class="col">
            <div class="text-center">
                <a href="{{ page.get_parent.url }}">
                    <button type="button" class="btn btn-outline-primary">Return to {{page.get_parent.title}}</button>
                </a>
            </div>
        </div>
    </div>
{% endblock %}
